<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Wipro Assignment Suite" parallel="tests" thread-count="2">
    
    <listeners>
        <listener class-name="app.wiproAssignment.com.listeners.TestListener"/>
    </listeners>
    <test name="Smoke pixel10">
    <parameter name="platform " value="android"/>
    <parameter name="runMode" value="local"/>
    <parameter name="deviceName" value="pixel_10"/>
    <parameter name="serverPort" value="4723"/>
    <parameter name="systemPort" value="8200"/>

        <classes>
            <class name="testCases.SmokeTest"/>
        </classes>
    </test>
    
    <test name="Regression Pixel 9">

        <parameter name="platform" value="android"/>
        <parameter name="runMode" value="local"/>
        <parameter name="deviceName" value="pixel_9"/>
        <parameter name="serverPort" value="4725"/>
        <parameter name="systemPort" value="8201"/>

        <classes>
            <class name="testCases.RegressionTest"/>
        </classes>
    </test>

</suite>